<%= simple_form_for [@experience, @booking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs form-inline">
    <%= f.input :start_time %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.submit "Book The Meal", class: "btn btn-success", data: { confirm: "Please Confirm: You are booking #{@experience.name} hosted by #{@experience.user.first_name} #{@experience.user.last_name} with a price of ¥#{@experience.price}" } %>
  </div>
<% end %>