<% @title = "#{@host.first_name} #{@host.last_name}"  %>
<div><%= cl_image_tag @host.photo, height: 300, width: 400, crop: :fill %></div>
<h1><%= "#{@host.first_name} #{@host.last_name}" %></h1>
<div><%= @host.description %></div>
<div>
  <% @host.gender == 'Male' ? (pronoun = 'His') : (pronoun = 'Her') %>
  <h2><%= "#{pronoun} Experiences" %></h2>
  <ul>
    <% @host.experiences.each do |exp| %>
      <li>
        <div><%= link_to exp.name, exp %></div>
        <div><%= exp.price %></div>
        <div><%= exp.description %></div>
      </li>
    <% end %>
  </ul>
</div>