<h1><%= "#{@host.first_name} #{@host.last_name}" %></h1>
<div><%= @host.description %></div>
<div>
  <% @host.gender == 'Male' ? (pronoun = 'His') : (pronoun = 'Her') %>
  <h2><%= "#{pronoun} Experiences" %></h2>
  <ul>
    <% @host.experiences.each do |exp| %>
      <li>
        <div><%= link_to exp.name, exp %></div>
        <div><%= exp.price %></div>
        <div><%= exp.description %></div>
      </li>
    <% end %>
  </ul>
</div>