<% @title = "#{@user.first_name} #{@user.last_name}"  %>
<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<div><%= "You are a host." if @user.host %></div>
<div>
  <div>
    <% if @user.host %>
      <%= link_to 'Add An Experience To Your Profile', new_experience_path if policy(Experience).create? %>
    <% else %>
      <%= link_to 'Become A Host', edit_user_registration_path %>
    <% end %>
  </div>
  <h2><%= "Your Experiences" %></h2>
  <ul>
    <% @user.experiences.each do |exp| %>
      <li>
        <div><%= link_to exp.name, exp %></div>
        <div><%= exp.description %></div>
        <div><%= "¥#{exp.price}" %></div>
        <div><%= exp.capacity %></div>
        <div><%= link_to 'Edit', edit_experience_path(exp) if policy(exp).update? %></div>
        <div><%= link_to 'Delete',exp, method: :delete, data: { confirm: "Are you sure?" } if policy(exp).destroy? %></div>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <h2>Attending</h2>
  <ul>
    <% @attending_bookings.each do |booking| %>
      <li>
        <div><%= link_to booking.experience.name, experience_booking_path(booking.experience, booking) %></div>
        <div><%= "Hosted By #{booking.experience.user.first_name} #{booking.experience.user.last_name}" %></div>
        <div><%= booking.start_time %></div>
        <div><%= booking.end_time %></div>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <h2>Attended</h2>
  <ul>
    <% @attended_bookings.each do |booking| %>
      <li>
        <div><%= booking.experience.name %></div>
        <div><%= "Hosted By #{booking.experience.user.first_name} #{booking.experience.user.last_name}" %></div>
        <div><%= booking.start_time %></div>
        <div><%= booking.end_time %></div>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <% if @user.host %>
    <div>
      <h2>Hosting</h2>
      <ul>
        <% @hosting_bookings.each do |booking| %>
          <li>
            <div><%= booking.experience.name %></div>
            <div><%= "Booked By #{booking.user.first_name} #{booking.user.last_name}" %></div>
            <div><%= booking.start_time %></div>
            <div><%= booking.end_time %></div>
            <div>
              <%= "In Progress" %>
              <%= link_to 'Mark As Complete', edit_experience_booking_path(booking.experience, booking), data: {confirm: 'Are you sure?'} %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <h2>Hosted</h2>
      <ul>
        <% @hosted_bookings.each do |booking| %>
          <li>
            <div><%= booking.experience.name %></div>
            <div><%= "Booked By #{booking.user.first_name} #{booking.user.last_name}" %></div>
            <div><%= booking.start_time %></div>
            <div><%= booking.end_time %></div>
            <div>
              <%= "This Deal Is Closed" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>