<% @title = "#{@user.first_name} #{@user.last_name}"  %>

<div class="main">
  <div class="main-content">
    <%= cl_image_tag @user.photo, width: 300, crop: :fill, class: "profile-pic" %>
    <h1 class="host_name_header"><strong><%= " #{@user.first_name} #{@user.last_name}" %></strong></h1>
    <h3><%= "You are a host." if @user.host %></h3>
    <% if @user.host %>
      <%= link_to 'Add An Experience To Your Profile', new_experience_path if policy(Experience).create? %>
    <% else %>
      <%= link_to 'Become A Host', edit_user_registration_path %>
    <% end %>
  </div>
</div>


















<div class="container-experience-show">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <%= cl_image_tag @user.photo, width: 300, crop: :fill, class: "profile-pic" %>
      <br>
      <br>
      <div class="show-card"><strong>Meet <%= " #{@user.first_name}" %> </strong></div>
      <div><%= @user.description %></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="host_info_container">
        <div class="row">
          <h1 class="host_name_header"><strong><%= " #{@user.first_name} #{@user.last_name}" %></strong></h1>
        </div>
        <br>
        <div class="row">
          <h3><%= "You are a host." if @user.host %></h3>
        </div>
        <div class="row">
          <% if @user.host %>
            <%= link_to 'Add An Experience To Your Profile', new_experience_path if policy(Experience).create? %>
          <% else %>
            <%= link_to 'Become A Host', edit_user_registration_path %>
          <% end %>
        </div>
        <br>
        <div class="row">
          <div class="host_header">Occupation:</div>
          <div class="host_ans"><%= @user.occupation %>
          </div>
        </div>
        <div class="row">
          <div class="host_header">Hometown:</div>
          <div class="host_ans"><%= @user.hometown %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="host_header">Favorite players:</div>
          <div class="host_ans"><%= @user.favorite_players %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="host_header">Interests:</div>
          <div class="host_ans"><%= @user.tag_list %></div>
          <!-- interests *could be tags* (need to add in db) -->
        </div>
        <br>
        <div class="row">
          <div class="host_header">Nationality:</div>
          <div class="host_ans"><%= @user.nationality %></div>
        </div>
        <br>
        <div class="row">
          <div class="host_header">Contact Info:</div>
          <div class="host_ans"><%= @user.email %></div>
          <div class="host_ans"><%= @user.phone %></div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="form-border"><%= "Sports Events I host" %></h3>
  <div class="row">
    <% @user.experiences.each do |exp| %>
      <div class="col-xs-12 col-sm-3">
        <div><%= cl_image_tag exp.photo, height: 200, width: 200, crop: :fill %></div>
        <div class="div-recommended2">
          <div><%= link_to exp.name, exp %></div>
          <div><%= exp.description %></div>
          <div>Price: <%= "¥#{exp.price}" %></div>
          <div>Capacity: <%= exp.capacity %></div>
          <div>Venue: <%= exp.venue %></div>
          <div>Skill Level: <%= exp.skill_level %></div>
          <div><%= link_to 'Add A Timeslot', new_experience_timeslot_path(exp) %></div>
          <div><%= link_to 'Edit', edit_experience_path(exp) if policy(exp).update? %></div>
          <div><%= link_to 'Delete', exp, method: :delete, data: { confirm: "Are you sure?" } if policy(exp).destroy? %></div>
        </div>
      </div>
    <% end %>
  </div>
  <h3 class="form-border"><%= "Sports Events I will attend" %></h3>
  <div class="row">
    <% @attending_bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-3">
        <div><%= cl_image_tag booking.experience.photo, height: 200, width: 200, crop: :fill %></div>
        <div class="div-recommended2">
          <div><%= link_to booking.experience.name, experience_booking_path(booking.experience, booking) %></div>
          <div><%= "Hosted By #{booking.experience.user.first_name} #{booking.experience.user.last_name}" %></div>
          <div><%= booking.start_time %></div>
          <div><%= booking.end_time %></div>
          <div><%= link_to "Cancel", experience_booking_path(booking.experience, booking), method: :delete, data: { confirm: "Are you sure? RMB#{booking.experience.price} will be refunded back to your account."} %></div>
        </div>
      </div>
    <% end %>
  </div>
  <h3 class="form-border"><%= "Sports Events I've attended" %></h3>
  <div class="row">
    <% @attended_bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-3">
        <div><%= cl_image_tag booking.experience.photo, height: 200, width: 200, crop: :fill %></div>
        <div class="div-recommended2">
          <div><%= booking.experience.name %></div>
          <div><%= "Hosted By #{booking.experience.user.first_name} #{booking.experience.user.last_name}" %></div>
          <div><%= booking.start_time %></div>
          <div><%= booking.end_time %></div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @user.host %>
    <h3 class="form-border"><%= "Sports Events I will host" %></h3>
    <div class="row">
      <% @hosting_bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-3">
          <div><%= cl_image_tag booking.experience.photo, height: 200, width: 200, crop: :fill %></div>
          <div class="div-recommended2">
            <div><%= booking.experience.name %></div>
            <div><%= "Booked By #{booking.user.first_name} #{booking.user.last_name}" %></div>
            <div><%= booking.start_time %></div>
            <div><%= booking.end_time %></div>
            <div>
              <%= "In Progress" %>
              <br>
              <%= link_to 'Mark As Complete', edit_experience_booking_path(booking.experience, booking), data: {confirm: 'Are you sure?'} %>
            </div>
            <div><%= link_to "Decline", experience_booking_path(booking.experience, booking), method: :delete, data: { confirm: "Are you sure?"} %></div>
          </div>
        </div>
      <% end %>
    </div>
    <h3 class="form-border"><%= "Sports Events I've hosted" %></h3>
    <div class="row">
      <% @hosted_bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-3">
          <div><%= cl_image_tag booking.experience.photo, height: 200, width: 200, crop: :fill %></div>
          <div class="div-recommended2">
            <div><%= booking.experience.name %></div>
            <div><%= "Booked By #{booking.user.first_name} #{booking.user.last_name}" %></div>
            <button><%= booking.start_time %></button>
            <button><%= booking.end_time %></button>
            <div>
              <%= "This Deal Is Closed" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
