<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<div>
  <% @user.gender == 'Male' ? (pronoun = 'His') : (pronoun = 'Her') %>
  <div><%= link_to 'Add An Experience To Your Profile', new_experience_path %></div>
  <h2><%= "#{pronoun} Experiences" %></h2>
  <ul>
    <% @user.experiences.each do |exp| %>
      <li>
        <div><%= link_to exp.name, exp %></div>
        <div><%= exp.description %></div>
        <div><%= "¥#{exp.price}" %></div>
        <div><%= exp.capacity %></div>
        <div><%= link_to 'Edit', edit_experience_path(exp) %></div>
        <div><%= link_to 'Delete',exp, method: :delete, data: { confirm: "Are you sure?" } %></div>
      </li>
    <% end %>
  </ul>
</div>