<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<div><%= "You are a host." if @user.host %></div>
<div>
  <% @user.gender == 'Male' ? (pronoun = 'His') : (pronoun = 'Her') %>
  <div>
    <% if @user.host %>
      <%= link_to 'Add An Experience To Your Profile', new_experience_path if policy(Experience).create?%>
    <% else %>
      <%= link_to 'Become A Host', edit_user_registration_path %>
    <% end %>
  </div>
  <h2><%= "#{pronoun} Experiences" %></h2>
  <ul>
    <% @user.experiences.each do |exp| %>
      <li>
        <div><%= link_to exp.name, exp %></div>
        <div><%= exp.description %></div>
        <div><%= "¥#{exp.price}" %></div>
        <div><%= exp.capacity %></div>
        <div><%= link_to 'Edit', edit_experience_path(exp) if policy(exp).update? %></div>
        <div><%= link_to 'Delete',exp, method: :delete, data: { confirm: "Are you sure?" } if policy(exp).destroy? %></div>
      </li>
    <% end %>
  </ul>
</div>