<div class="row center-experience-title">
  <div class="col-xs-12 col-sm-8">
    <div class="row">
      <div class="host_header"><%= link_to "Meet Your Host #{@experience.user.first_name}", experience_host_path(@experience)%>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 center-image">
    <div class="row">
      <img class="show-margin-15"  height=400px width=400px>
    </div>
    <div class="row host_header"> <%= "Meet Your Host #{@experience.user.first_name},"%>
    </div>
    <div class="row">
      <%= @experience.user.description %>
    </div>
    <div>
      <%= link_to "See All Host's Experiences", experiences_path %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="host_info_container">
      <div class="row">
        <div class="host_header">Occupation:</div>
        <div class="host_ans"><%= @experience.user.occupation %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="host_header">Hometown:</div>
        <div class="host_ans"><%= @experience.user.hometown %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="host_header">Intersting Fact:</div>
        <div class="host_ans"><%= @experience.user.interesting_fact %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="host_header">Interests:</div>
        <div class="host_ans"><%=  %></div>
        <!-- interests *could be tags* (need to add in db) -->
      </div>
      <br>
      <div class="row">
        <div class="host_header">Nationality:</div>
        <div class="host_ans"><%= @experience.user.nationality %></div>
      </div>
      <br>
      <div class="row">
        <div class="host_header">Contact Info:</div>
        <div class="host_ans"><%= @experience.user.email %></div>
        <div class="host_ans"><%= @experience.user.phone %></div>
      </div>
    </div>
  </div>
</div>