<div class="row center-experience-title">
  <div class="col-xs-12 col-sm-8">
    <div>
      <h2><%= @experience.name %></h2>
    </div>
    <div>
      <p><%= @experience.category %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 center-image">
    <div class="row">
      <img height=400px width=400px >
    </div>
    <div class="row">
      <div class="host_header"> <strong>Our Plan:</strong></div>
      <div class="text-restrict-width"><%= @experience.description %></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4" id="sticky-card">
    <div class="host_info_container">
      <div class="flex-geocode"  id="center-geocode">
        <img width=380px height=196px>
      </div>
      <div class="tour-info-icons">
        <div class="icon-detail margin-icon top-margin-icon icon-middle-bottom">
          <i class="fas fa-language icons"></i>
          <div class="experience-desc-after-icon"><%= "#{@experience.language}" %>
          </div>
        </div>
        <div class="icon-detail margin-icon icon-middle-bottom">
          <i class="far fa-clock icons"></i>
          <div class="experience-desc-after-icon"><%= "#{@experience.duration} hours" %></div>
        </div>
        <div class="icon-detail margin-icon icon-middle-bottom" id="adress-flex">
          <i class="far fa-clipboard icons"></i>
          <div class="experience-desc-after-icon">
            <%= "#{@experience.category}" %>
          </div>
        </div>
        <div class="icon-detail margin-icon bottom-margin-icon">
          <i class="fas fa-coins icons"></i>
          <div class="experience-desc-after-icon"> <%= "¥#{@experience.price}" %>
          </div>
        </div>
        <div class="icon-detail">
          <%= link_to "Book", new_experience_booking_path(@experience), class: "btn btn-success font-white book-btn-fill"%>
        </div>
      </div>
    </div>
  </div>
</div>