<div class="banner" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.3) 50%, rgba(0,36,61,0.6) 100%), url('<%= image_path 'streetbasketballbanner.png' %>');">
  <div class="banner-content">
    <h1 text-center>Sportchain</h1>
    <div class="bannerslogan">
      <h2>Play sports with locals in </h2>
      <div>
        <%= form_tag experiences_path, method: :get do %>
          <%= text_field_tag :query,
        params[:query],
        class: "form-search",
        placeholder: "your city"
          %>
        <% end %>
      </div>
    </div>
  </div>
  <a href="#tops" class= "explore-btn">Start Exploring</a>
</div>
</div>
<div class="row">
  <div class="col-12 feature-tile feature-tile--hero ">
    <div class="feature-tile__container">
      <div class="row no-gutters">
        <div class="col-md-6">
          <%= image_tag asset_path('soccer.jpg'), class: "soccer"%>
        </div>
        <div class="col-md-6 align-self-start">
          <div class="feature-tile__content">
            <p class="feature-tile__callout">vision</p>
            <h2 class="feature-tile__headline">To be the lead sports platform for travellers who are passionate about sports. To be the most easily accessible information exchange platform that share opportunities of doing sports with everyone. </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 feature-tile feature-tile--hero ">
    <div class="feature-tile__container">
      <div class="row no-gutters">
        <div class="col-md-6 align-self-start">
          <div class="feature-tile__content2">
            <p class="feature-tile__callout">mission</p>
            <h2 class="feature-tile__headline">We aim to connect sport lovers who are travelling in a new place to local sport lovers. We want sport lovers to pursue their passion no matter where they are in this world. </h2>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag asset_path('guys.png'), class: "guys"%>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 feature-tile feature-tile--hero ">
    <div class="feature-tile__container">
      <div class="row no-gutters">
        <div class="col-md-6">
          <%= image_tag asset_path('jump1.png'), class: "soccer"%>
        </div>
        <div class="col-md-6 align-self-start">
          <div class="feature-tile__content">
            <p class="feature-tile__callout">values</p>
            <h2 class="feature-tile__headline">
              Equality - People from different countries, regions, genders, ages, and other backgrounds are welcome to use our platform and be connected with each other.<br>
              <br>
              Healthy Life - We believe in health’s role in improving the quality of people’s life. And we believe in sports’ role in living a healthy life.<br>
              <br>
              Connection - We believe that sports bring people together. Connection with other interesting people is one of the major takeaways of using our platform.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cardcontainer text-center" id="tops">
  <h2 class="section-title-home-content feature-tile__callout">
    Pick a sport
  </h2>
  <div class="tabs">
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
      <a class="tab" href="#basketball">
        <div class="tabbox1 zdepth1">
          <p>Basketball</p>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
      <a class="tab" href="#soccer">
        <div class="tabbox2 zdepth1">
          <p>Soccer</p>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
      <a class="tab" href="#tennis">
        <div class="tabbox3 zdepth1">
          <p>Tennis</p>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
      <a class="tab" href="#others">
        <div class="tabbox4 zdepth1">
          <p>Other sports</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div
<h2 class="section-title-home">
<div class="section-title-home-content">
  Top-rated sports adventures
</div>
</h2>
<div class="container text-center">
  <div class="row experience-card-index">
    <% @top_experiences.each do |experience| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="wholecard">
          <%= link_to experience_path(experience) do %>
            <figure class="card snip1584" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= experience.photo %>');">
              <div class="card-category"><%= experience.category %></div>
              <img class="card-user avatar" src='<%= experience.user.photo %>'>
            <% end %>
            <%= link_to experience_path(experience), experience: experience do %>
              <div class="backcard">
                <div class="backavatar">
                  <%= cl_image_tag asset_path(experience.user.photo), class: "img" %>
                </div>
                <h5><%= experience.user.first_name %></h5>
                <!-- <p><%= experience.skill_level %></p><br> -->
                <p><%= experience.location %></p>
                <h6>Click to see full adventure</h6>
              </div>
            </figure>
            <div class="card-description">
              <p id="snip1584-name"><%= experience.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="see-more-btn cutline">
    <a class="btn btn-sm btn-light" href="#services">See More</a>
  </div>
</div>
</div>
<h2 class="section-title-home">
  <div class="section-title-home-content" id="basketball">
    Basketball
  </div>
</h2>
<div class="container text-center">
  <div class="row experience-card-index">
    <% @top_basketball_experiences.each do |experience| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="wholecard">
          <%= link_to experience_path(experience) do %>
            <figure class="card snip1584" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= experience.photo %>');">
              <div class="card-category"><%= experience.category %></div>
              <img class="card-user avatar" src='<%= experience.user.photo %>'>
            <% end %>
            <%= link_to experience_path(experience), experience: experience do %>
              <div class="backcard">
                <div class="backavatar">
                  <%= cl_image_tag asset_path(experience.user.photo), class: "img" %>
                </div>
                <h5><%= experience.user.first_name%></h5>
                <p><%= experience.skill_level %></p>
                <br>
                <p><%= experience.location %></p>
                <h6>Click to see full adventure</h6>
              </div>
            </figure>
            <div class="card-description">
              <p id="snip1584-name"><%= experience.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="see-more-btn cutline">
    <a class="btn btn-sm btn-light" href="#services">See More</a>
  </div>
</div>
</div>
</div>
<h2 class="section-title-home">
  <div class="section-title-home-content" id="soccer">
    Soccer
  </div>
</h2>
<div class="container text-center">
  <div class="row experience-card-index">
    <% @top_soccer_experiences.each do |experience| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="wholecard">
          <%= link_to experience_path(experience) do %>
            <figure class="card snip1584" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= experience.photo %>');">
              <div class="card-category"><%= experience.category %></div>
              <img class="card-user avatar" src='<%= experience.user.photo %>'>
            <% end %>
            <%= link_to experience_path(experience), experience: experience do %>
              <div class="backcard">
                <div class="backavatar">
                  <%= cl_image_tag asset_path(experience.user.photo), class: "img" %>
                </div>
                <h5><%= experience.user.first_name%></h5>
                <p><%= experience.skill_level %></p>
                <br>
                <p><%= experience.location %></p>
                <h6>Click to see full adventure</h6>
              </div>
            </figure>
            <div class="card-description">
              <p id="snip1584-name"><%= experience.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="see-more-btn cutline">
    <a class="btn btn-sm btn-light" href="#services">See More</a>
  </div>
</div>
</div>
</div>
<h2 class="section-title-home">
  <div class="section-title-home-content" id="tennis">
    Tennis
  </div>
</h2>
<div class="container text-center">
  <div class="row experience-card-index">
    <% @top_tennis_experiences.each do |experience| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="wholecard">
          <%= link_to experience_path(experience) do %>
            <figure class="card snip1584" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= experience.photo %>');">
              <div class="card-category"><%= experience.category %></div>
              <img class="card-user avatar" src='<%= experience.user.photo %>'>
            <% end %>
            <%= link_to experience_path(experience), experience: experience do %>
              <div class="backcard">
                <div class="backavatar">
                  <%= cl_image_tag asset_path(experience.user.photo), class: "img" %>
                </div>
                <h5><%= experience.user.first_name%></h5>
                <p><%= experience.user.occupation %></p>
                <h6>Click for more about experience and host</h6>
              </div>
            </figure>
            <div class="card-description">
              <p id="snip1584-name"><%= experience.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="see-more-btn cutline">
    <a class="btn btn-sm btn-light" href="#services">See More</a>
  </div>
</div>
</div>
</div>
<h2 class="section-title-home">
  <div class="section-title-home-content" id="others">
    Other Sports
  </div>
</h2>
<div class="container text-center">
  <div class="row experience-card-index">
    <% @top_other_experiences.each do |experience| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="wholecard">
          <%= link_to experience_path(experience) do %>
            <figure class="card snip1584" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  cl_image_tag asset_path(experience.photo) %>');">
              <div class="card-category"><%= experience.category %></div>
              <img class="card-user avatar" src='<%= experience.user.photo %>'>
            <% end %>
            <%= link_to experience_path(experience), experience: experience do %>
              <div class="backcard">
                <div class="backavatar">
                  <%= cl_image_tag asset_path(experience.user.photo), class: "img" %>
                </div>
                <h5><%= experience.user.first_name%></h5>
                <p><%= experience.skill_level %></p>
                <br>
                <p><%= experience.location %></p>
                <h6>Click to see full adventure</h6>
              </div>
            </figure>
            <div class="card-description">
              <p id="snip1584-name"><%= experience.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="see-more-btn cutline">
    <a class="btn btn-sm btn-light" href="#services">See More</a>
  </div>
</div>
</div>
</div>
<h2 class="section-title-home">
  <div class="section-title-home-content" id="others">
    Other Sports
  </div>
</h2>
<div class="container text-center">
  <div class="row experience-card-index">
    <% @top_other_experiences.each do |experience| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="wholecard">
          <%= link_to experience_path(experience) do %>
            <figure class="card snip1584" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  cl_image_tag asset_path(experience.photo) %>');">
              <div class="card-category"><%= experience.category %></div>
              <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
            <% end %>
            <%= link_to experience_path(experience), experience: experience do %>
              <div class="backcard">
                <div class="backavatar">
                  <%= image_tag asset_path("zack.jpg"), class: "img" %>
                </div>
                <h5><%= experience.user.first_name%></h5>
                <p><%= experience.skill_level %></p>
                <br>
                <p><%= experience.location %></p>
                <h6>Click to see full adventure</h6>
              </div>
            </figure>
            <div class="card-description">
              <p id="snip1584-name"><%= experience.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="see-more-btn cutline">
    <a class="btn btn-sm btn-light" href="#services">See More</a>
  </div>
</div>
</div>
</div>
<div class="testimonial">
  <div class="testimonial-title">
    <h1>Users Love Sportchain</h1>
  </div>
  <div class="usercards">
    <div class="row">
      <div  class="col-xs-12 col-sm-6 col-md-3">
        <div class="usercard">
          <%= image_tag asset_path('Harrison.jpeg'), class: "user-avatar" %>
          <h4>Harrison</h4>
          <h6>Shanghai, China</h6>
          <p>I love sportchain</p>
        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-3">
        <div class="usercard">
          <%= image_tag asset_path('Dounan.jpeg'), class: "user-avatar" %>
          <h4>Dounan</h4>
          <h6>Shanghai, China</h6>
          <p>Sportchain is awesome!</p>
        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-3">
        <div class="usercard">
          <%= image_tag asset_path('Ziva Xu.jpeg'), class: "user-avatar" %>
          <h4>Ziva</h4>
          <h6>Shanghai, China</h6>
          <p>$#%@*&#$$%&**@#!!!</p>
        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-3">
        <div class="usercard">
          <%= image_tag asset_path('Forrest.jpeg'), class: "user-avatar" %>
          <h4>Forrest</h4>
          <h6>Shanghai, China</h6>
          <p>Sportchain is amazing</p>
        </div>
      </div>
    </div>
  </div>
</div>