<div class="banner crop kenburns-top" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.3) 50%, rgba(0,36,61,0.6) 100%), url('<%= image_path 'surf.jpg' %>');">
  <div class="banner-content">
    <h1>UniXP - Experience Platform</h1>
    <h2>Life Is Too Short: Own Experiences, Not Things.</h2>
    <br>
    <div class="align-items-search">
      <%= form_tag experiences_path, method: :get, class:"align-items-search" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search For Experiences"
      %>
      <button name="button" type="submit" class="btn btn-success">Seach</button>
    </div>
        <button name="button" type="submit" class="btn btn-success">Button</button>
      </div>
    <% end %>
  </div>
</div>
<h2 class="section-title-home">
  <div class="section-title-home-content" style="font-size:30px;">
    Categories
  </div>
</h2>
<div class="tabs">
  <a class="tab active" href="#">
    <div>
      <%= image_tag "grill.gif", class: "img" %>
      <p>Food & Drinks</p>
    </div>
  </a>
  <a class="tab" href="#">
    <div>
      <%= image_tag "bulb.gif", class: "img" %>
      <p>Class & Workshops</p>
    </div>
  </a>
  <a class="tab" href="#">
    <div>
      <%= image_tag "rocket.gif", class: "img" %>
      <p>Unique Tours</p>
    </div>
  </a>
  <a class="tab" href="#">
    <div>
      <%= image_tag "tent.gif", class: "img" %>
      <p>Sports & Outdoors</p>
    </div>
  </a>
</div>
<h2 class="section-title-home">
  <div class="section-title-home-content" style="font-size:35px;">
    Explore Your Experiences
  </div>
</h2>
<div class="row">
  <% @experiences.each do |experience| %>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('cl_image_tag experience.photo');">
        <div class="card-category"><%= experience.category %></div>
        <div class="card-description">
          <p><%= link_to experience.name, experience %></p>
        </div>
        <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
        <a class="card-link" href="#"></a>
        <div class="_1mdayhn">
          <button type="button" class="_1rp5252" id="ExploreCard-experience-190392__SaveCheckBox" aria-busy="false" style="padding: 8px; margin: -8px;"><svg viewBox="0 0 32 32" fill="#484848" fill-opacity="0.5" stroke="#ffffff" stroke-width="2.5" focusable="false" aria-label="Save this Experience" role="img" stroke-linecap="round" stroke-linejoin="round" style="height: 28px; width: 28px; display: block;"><path d="m23.99 2.75c-.3 0-.6.02-.9.05-1.14.13-2.29.51-3.41 1.14-1.23.68-2.41 1.62-3.69 2.94-1.28-1.32-2.46-2.25-3.69-2.94-1.12-.62-2.27-1-3.41-1.14a7.96 7.96 0 0 0 -.9-.05c-1.88 0-7.26 1.54-7.26 8.38 0 7.86 12.24 16.33 14.69 17.95a1 1 0 0 0 1.11 0c2.45-1.62 14.69-10.09 14.69-17.95 0-6.84-5.37-8.38-7.26-8.38"></path></svg>
          </button>
        </div>
      </div>
      <div class="footer">
        <div class="icongroup">
          <a href="#"><i class="fas fa-star rating"></i></a>
          <span>4.9</span>
        </div>
        <div class="icongroup">
          <a href="#"><i class="fas fa-comment"></i></a>
          <span>15</span>
        </div>
        <div class="icongroup">
          <a href="#"><i class="fas fa-heart"></i></a>
          <span>4,846</span>
        </div>
        <div class="icongroup">
          <a href="#"><i class="fas fa-yen-sign"></i></a>
          <span><%=  experience.price %></span>
        </div>
      </div>
    </div>
  <% end %>