<h1>Experiences</h1>
<% @experiences.each do |experience| %>
  <ul>
    <li>
      <div><%= link_to experience.name, experience %></div>
      <div><%= experience.description %></div>
      <div><%= "¥#{experience.price}" %></div>
      <div><%= "#{experience.user.first_name} #{experience.user.last_name}" %></div>
      <div><%= experience.user.description %></div>
    </li>
  </ul>
<% end %>