<div class="banner" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.3) 50%, rgba(0,36,61,0.6) 100%), url('<%= image_path 'surf.jpg' %>');">
  <div class="banner-content">
    <h1>UniXP - Experience Platform</h1>
    <h2>Life Is Too Short: Own Experiences, Not Things.</h2>
    <div class="align-items-search">
      <%= form_tag experiences_path, method: :get, class:"align-items-search" do %>
        <%= text_field_tag :query,
       params[:query],
       class: "form-control",
       placeholder: "Start your day off by treating yourself an unique experience"
     %>
        <button name="button" type="submit" class="btn btn-success btn-medium">Seach</button>
      <% end %>
    </div>
  </div>
</div>
<h2 class="section-title-home">
  <div class="section-title-home-content" style="font-size:30px;">
    Explore by category
  </div>
</h2>
<div class="tabs">
  <a class="tab" href="#">
    <div class="tabbox1">
      <%= image_tag "grill.gif", class: "img" %>
      <p>Food & Drinks</p>
    </div>
  </a>
  <a class="tab" href="#">
    <div class="tabbox2">
      <%= image_tag "bulb.gif", class: "img" %>
      <p>Classes & Workshops</p>
    </div>
  </a>
  <a class="tab" href="#">
    <div class="tabbox3">
      <%= image_tag "rocket.gif", class: "img" %>
      <p>Unique Tours</p>
    </div>
  </a>
  <a class="tab" href="#">
    <div class="tabbox4">
      <%= image_tag "tent.gif", class: "img" %>
      <p>Sports & Outdoors</p>
    </div>
  </a>
</div>
<h2 class="section-title-home">
  <div class="section-title-home-content">
    Popular experiences nearby
  </div>
</h2>
<div class="row experience-card-index">
  <% @experiences.each do |experience| %>
    <div class="col-xs-12 col-sm-4 wholecard">
      <div class="card-description">
        <p id="snip1584-name"><%= experience.name %></p>
      </div>
      <%= link_to experience_path(experience) do %>
      <figure class="card snip1584" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('cl_image_tag experience.photo');">
        <div class="card-category"><%= experience.category %></div>
          <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
          <div class="backcard">
            <h5><%= experience.user.first_name %></h5>
            <p><%= experience.user.nationality %></p>
            <p><%= experience.user.email %></p>
          </div>
      </figure>
      <% end %>
      <div class="footer">
        <div class="icongroup">
          <a href="#"><i class="fas fa-star rating"></i></a>
          <span>4.9</span>
        </div>
        <div class="icongroup">
          <a href="#"><i class="fas fa-comment"></i></a>
          <span>15</span>
        </div>
        <div class="icongroup">
          <a href="#"><i class="fas fa-heart"></i></a>
          <span>4,846</span>
        </div>
        <div class="icongroup">
          <a href="#"><i class="fas fa-yen-sign"></i></a>
          <span><%=  experience.price %></span>
        </div>
      </div>
    </div>
  <% end %>
