<div class="show-wrapper">
  <div class="show-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="width-400">
          <h2><%= @experience.name %></h2>
          <p><%= @experience.category %></p>
        </div>
      </div>
      <div class="book col-xs-12 col-sm-6">
        <div class="height-100">
          <div class="btn btn-success btn-book font-white"><%= link_to 'Book', new_experience_booking_path(@experience) %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="show-wrapper">
  <div class="show-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="width-400">
          <img class="show-margin-15" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQFBvEl5IAbqQvx08hNueskQ3omumRB-x5ovScaKE59AR-GZk-Xw" width=400px height=400px>
          <div class="show-card"> <strong>Our Plan, </strong><%= @experience.description %></div>
        </div>
      </div>
      <div class="book col-xs-12 col-sm-6">
        <div class="host_info_container">
          <div>
            <i class="fas fa-map-marker-alt icons"></i>
            <!-- location of experience (need to add in db and form for add experience) -->
          </div>
          <div>
            <i class="fas fa-language icons"></i>
            <!-- language of experience (need to add in db and form for add experience) -->
          </div>
          <div>
            <i class="far fa-clock icons"> 1 hour</i>
            <!-- duration of experience (need to add in db and form for add experience)-->
          </div>
          <div>
            <i class="far fa-clipboard icons"></i>
            <!-- Reviews of experience (need to add in db)-->
          </div>
          <div>
            <!-- stars (need to add in db) -->
          </div>
          <div><%= "¥#{@experience.price}" %> per pserson </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="show-wrapper">
  <div class="show-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="width-400">
          <img class="show-margin-15" src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/28661132_1743596052374973_66734549423752883_n.jpg?_nc_cat=0&oh=7becb1545041dffa1ecff1491f942333&oe=5C1089A3" width=400px height=400px>
          <div class="show-card"><strong>Meet your host, </strong><%= @experience.user.description %></div>
        </div>
      </div>
      <div class="book col-xs-12 col-sm-6">
        <div class="host_name_header"><%= link_to " #{@experience.user.first_name} #{@experience.user.last_name}", experience_host_path(@experience)%> </div>

        <div class="host_header">Occupation</div>
        <!-- occupation (need to add in db)-->
        <div class="host_ans"><%=  %></div>
        <br>
        <div class="host_header">Hometown</div>
        <!-- hometown (need to add in db) -->
        <div class="host_ans"><%=  %></div>
        <br>
        <div class="host_header">Intersting fact</div>
        <!-- Interesting fact (need to add in db) -->
        <div class="host_ans"><%=  %></div>
        <br>
        <div class="host_header">Interests</div>
        <div class="host_ans"><%=  %></div>
        <!-- interests *could be tags* (need to add in db) -->
        <br>
        <div class="host_header">Nationality</div>
        <div class="host_ans"><%= @experience.user.nationality %></div>
        <br>
        <div class="host_header">Email</div>
        <div class="host_ans"><%= @experience.user.email %></div>
        <br>
         <%= link_to "See All Host's Experiences", experiences_path %>
      </div>
    </div>
  </div>
</div>

<div class="show-wrapper">
  <div class="show-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="width-400">
          <h3>Reviews</h3>
        </div>
      </div>
    </div>
  </div>
</div>

