<div class="show-wrapper">
  <div class="experience_title_card">
    <div class="experience_header_container">
      <div class="row">
        <div class="experience_title col-xs-12 col-md-4">
          <h1><%= @experience.name %></h1>
          <p><%= @experience.category %></p>
        </div>
        <div class="book col-xs-12 col-md-4">
          <div class="btn btn-success font-white"><%= link_to 'Book', new_experience_booking_path(@experience) %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="experience_card">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <span class="experience_container">
          <!-- image of experience -->
          <img class="host_propic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQFBvEl5IAbqQvx08hNueskQ3omumRB-x5ovScaKE59AR-GZk-Xw" width=400px height=400px>
          <div class="show-card"> <strong>Our Plan, </strong><%= @experience.description %></div>
        </span>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="host_info_container">
          <div>
            <i class="fas fa-map-marker-alt icons"></i>
            <!-- location of experience (need to add in db and form for add experience) -->
          </div>
          <div>
            <i class="fas fa-language icons"></i>
            <!-- language of experience (need to add in db and form for add experience) -->
          </div>
          <div>
            <i class="far fa-clock icons"> 1 hour</i>
            <!-- duration of experience (need to add in db and form for add experience)-->
          </div>
          <div>
            <i class="far fa-clipboard icons"></i>
            <!-- Reviews of experience (need to add in db)-->
          </div>
          <div>
            <!-- stars (need to add in db) -->
          </div>
          <div><%= "¥#{@experience.price}" %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile_card">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h2> Your Host </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">

        <!-- image of the host -->
        <img class="host_propic" src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/28661132_1743596052374973_66734549423752883_n.jpg?_nc_cat=0&oh=7becb1545041dffa1ecff1491f942333&oe=5C1089A3" width=400px height=400px>
        <div class="show-card"><strong>Meet your host, </strong><%= @experience.user.description %></div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="host_name_header"><%= link_to " #{@experience.user.first_name} #{@experience.user.last_name}", experience_host_path(@experience)%> </div>

        <div class="host_header">Occupation</div>
        <!-- occupation (need to add in db)-->
        <div class="host_ans"><%=  %></div>

        <div class="host_header">Hometown</div>
        <!-- hometown (need to add in db) -->
        <div class="host_ans"><%=  %></div>

        <div class="host_header">Intersting fact</div>
        <!-- Interesting fact (need to add in db) -->
        <div class="host_ans"><%=  %></div>

        <div class="host_header">Interests</div>
        <div class="host_ans"><%=  %></div>
        <!-- interests *could be tags* (need to add in db) -->

        <div class="host_header">Nationality</div>
        <div class="host_ans"><%= @experience.user.nationality %></div>

        <div class="host_header">Email</div>
        <div class="host_ans"><%= @experience.user.email %></div>

         <%= link_to "See All Host's Experiences", experiences_path %>
      </div>
    </div>
  </div>

  <div class="reviews_card">
    <h3>Reviews</h3>
    <div class="reviews_container">
    </div>
  </div>

</div>


